<%= form_with(model: train) do |form| %>
  <%= render 'common/errors', resource: @train %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="field">
    <%= form.label :route %>
    <%= form.collection_select :route_id, Route.all, :id, :name %>
  </div>

  <div class="field">
      <%= form.label 'Vagon order last to first?' %>
      <%= form.select :vagon_order, [true, false] %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
