<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<% if @train.route.blank? %>
  <p>Train has no route, just goal</p>
<% else %>
  <p>Train route is <%=  @train.route.name %> </p>
<% end %>


<% @train.vagons.each do |vagon| %>
  <p><%= link_to "#{vagon.vagon_id}", vagon_path(vagon) %></p>
<% end %>


<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
