<h2>Routes</h2>
<ul>
  <% @routes.each do |route| %>
    <li>
      <strong>Route <%= route.id %></strong>
      <p>Coming time <%= @base_station.coming_time(route) %></p>
      <p>Depature time <%= @end_station.department_time(route) %></p>
      <h3>Trains</h3>
      <ul>
        <% route.trains.each do |train| %>
          <li>
            <p><%= train.number %></p>
            <p><%= link_to 'Buy ticket', new_train_ticket_path(train, base_station: @base_station.id, end_station: @end_station.id) %></p>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
