<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice" class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    <br>
    <br>
    <% if user_signed_in? %>
      <%= link_to 'Exit account', destroy_user_session_path, method: :delete %>
      <p>Current user: <%= current_user.email%></p>
    <% else %>
      <%= link_to 'Enter account', new_user_session_path %>
    <% end %>
  </body>

  <footer>
    <h4>LizaMatiash - Gotoinc</h4>
    <a href="https://github.com/LizaMatiash?tab=repositories">My Github</a>
  </footer>
</html>
